@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Brusque / SC<br />
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@bigdata.com">Support@bigdata.com</a><br />
</address>