@{
    ViewBag.Title = "Big Data - Atividade 04";
}
@using Atividade04.Domain;

@model List<Blog>

<script>
    console.log(posts);
</script>
<div class="jumbotron">
    <h1>Blogs</h1>
    <p class="lead">Todos os blogs cadastrados.</p>
</div>

@foreach (var blog in Model)
{
    <div class="row">
        <div class="col-md-4">
            <h1>@blog.Title</h1>
            <p>
                @blog.Description
            </p>
            @if (blog.Posts != null)
            {
                var postsx = blog.Posts.ToArray();
                <a class="btn" href="@Url.Action("Posts", "Blog", new { postsx })">Postagens</a>
            }
            else
            {
                <p>Ainda sem postagens</p>
            }
        </div>
    </div>
}
